body {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
ul,
a {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 15px;
  color: #e5e7eb;
  font-size: 18px;
  padding: 0;
}

.first-cont,
.first-cont1 {
  display: flex;
  background-color: #1f2937;
  color: white;
  justify-content: center;
}
.first-cont1 {
  padding-top: 100px;
  height: 400px;
  padding-bottom: 150px;
}
header,
.content {
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
.first-cont header {
  align-items: center;
}

.info h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  margin-top: 10px;
}
.info p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0px;
  margin-bottom: 10px;
}
.info button {
  padding: 10px 40px;
  border-radius: 8px;
  font-weight: 900;
  font-size: 19px;
  background-color: #3583f2;
  color: white;
  cursor: pointer;
  border: none;
}

.cont-img div {
  width: 600px;
  height: 240px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  margin-top: 30px;
}
.content-info .information {
  width: 1100px;
  height: 100%;
}
.information h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}
.information .articulos {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.item {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}
.item div {
  width: 170px;
  height: 160px;
  border-radius: 10px;
  border: 4px solid rgb(6, 110, 247);
}
.item p {
  text-align: center;
  font-size: 18px;
  width: 179px;
}

.content-frases {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
  min-height: 440px;
}
.content-frases .frases {
  width: 744px;
}
.frases .testim {
  font-family: none;
  font-style: italic;
  font-size: 36px;
  margin-bottom: 0;
}
.frases .Thor {
  display: flex;
  justify-content: end;
  font-weight: 900;
  font-size: 24px;
  margin-top: 0;
}
.content-call {
  display: flex;
  min-height: 400px;
  align-items: center;
  justify-content: center;
}
.content-call .call {
  width: 1100px;
  display: flex;
  color: white;
  border-radius: 10px;
  padding: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: #3583f2;
}
.call-info h2 {
  margin-bottom: 0;
}
.call-info p {
  margin-top: 0;
  color: #d0daeb;
  font-size: 18px;
}
.call button {
  padding: 8px 40px;
  border-radius: 8px;
  background-color:#3583f2 ;
  border: 1px solid white;
  font-size: 18px;
  color: white;
  font-weight: bold;
  cursor: pointer;
 
}
footer {
  min-height: 100px;
  color: #e3e4e6;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2936;
  font-size: 18px;
}